@media (max-width: 450px) {
    .container {
        margin: 8px;
    }

    .header {
        padding: 10px;
    }

    .content {
        padding: 12px;
    }

    .headerText {
        gap: 16px !important;
    }

    .image {
        width: 50px !important;

    }

    .part2 h2 {
        font-size: 20px !important;

    }

    .part2 p {
        font-size: 12px !important;
    }

    .question h3 {
        font-size: 16px;
    }

    .question p {
        font-size: 15px;
    }
}

.container {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 16px;
    overflow: hidden;
}

.header {
    background-color: white;
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.image {
    width: 70px;
    border-radius: 50%;

}


.part2 h2 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 8px;

}

.part2 p {
    color: #adb5bd;
}




.content {
    padding: 0 16px 16px 16px;
    color: #313132;
}

.question {
    margin-bottom: 12px;
    cursor: pointer;
    padding-top: 12px;
    border-top: 1px solid #ddd;
    text-align: left;
}

.questionPart1 {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-weight: 500;
    margin: 0;
}

.question p {
    margin: 18px 0 15px 0;
}

/* Final */